alixby3
autostart
bilibili
btop
cantata
cava
cef_user_data
cmus
com.pot-app.desktop
copyq
crow-translate
dconf
dunst
electronic-wechat
exmplayer
flameshot
fontforge
fzf
Genymobile
GitKraken
gitui
glib-2.0
Google
google-chrome-unstable
gtk-3.0
htop
kconf_updaterc
kdeglobals
kdiff3fileitemactionrc
krusaderrc
listen1
lx-music-desktop
menus
mimeapps.list
Motrix
mpv
netease-cloud-music
nvim
omf
pagraphcontrol
pavucontrol.ini
pulse
QQ
QtProject.conf
screenkey.json
scripts
smplayer
sublime-text
subtitle-translator-electron
termshark
Thunar
tilda
tmux
trashrc
Typora
user-dirs.dirs
user-dirs.locale
vifm
vlc
wpaperd
xfce4
xylosper
yarn
waybar
